.calendar {
  min-width: 550px;
  max-width: 851px;
  margin: auto;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  background-color: #7c7c7c;
  border: #7c7c7c 1px solid;
}

.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: rgb(73, 173, 255);
  color: #fff;
  font-weight: bold;
  text-align: center;
}
