.calendar-day {
  position: relative;
  background-color: #fff;
  font-weight: 700;
  height: 80px;
}

.calendar-day.weekend {
  background-color: var(--light-gray-background);
  color: var(--blue-background);
}

.calendar-day.disabled {
  color: var(--gray-text);
}

.date-number {
  margin-left: 8px;
}

.reminder-count {
  position: absolute;
  right: 2px;
  bottom: 2px;
}

.calendar-day.today {
  background-color: var(--light-blue-background);
}
