/* Global color variables */
:root {
  --gray-border: 1px solid #7c7c7c;
  --light-gray-background: #f2f2f2;
  --gray-text: #a6a6a6;
  --blue-background: #2b76b7;
  --dark-blue-background: #2a89db;
  --light-blue-background: #d5ebff;
}
